mat-table {
    width: 600px;
}

mat-card {
    width: 300px;
    height: 120px;
    overflow-y: auto;
}

mat-card-content>div {
    margin-bottom: 10px;
    /* Espacio entre cada elemento dentro de la tarjeta */
}

mat-card-content {
    display: flex;
    flex-direction: column;
}

.mat-card-size{
    height: 300px;
}

.mat-mdc-table {
    width: 600px;
    max-height: 200px;
    overflow: auto;
}

.mat-column-name {
    height: 100px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.container_column {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

mat-icon {
    margin: 5px;
}

.title_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

h4 {
    font-size: 15px;
    font-weight: bold;
}

.container-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subtitle_card {
    font-size: 40px;
    font-weight: bold;
}

.title_card_inv {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 25px;
}

.p-title{
    font-size: 18px;
    font-weight: bold;
}

.p-subtitle{
    font-size: 20px;
    font-weight: bold;
    color: brown;
}