<mat-card>
    <mat-card-header>
        <mat-card-title>{{ producto.idProducto ? 'EDITANDO: ' + producto.nombreProducto : 'Agregando un nuevo producto' }}</mat-card-title>
    </mat-card-header>
    <br>
    <mat-card-content>
            <mat-form-field class="example-full-width" *ngIf="producto.idProducto">
                <mat-label>ID</mat-label>
                <input matInput disabled [(ngModel)]="producto.idProducto">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Producto</mat-label>
                <input matInput [formControl]="nombreProductoControl" [(ngModel)]="producto.nombreProducto">
                <mat-error *ngIf="nombreProductoControl.hasError('required')">
                    Nombre del producto es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <input matInput [formControl]="descripcionProductoControl" [(ngModel)]="producto.descripcion">
                <mat-error *ngIf="descripcionProductoControl.hasError('required')">
                    Descripción del producto es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Precio</mat-label>
                <input matInput [formControl]="precioProductoControl" [(ngModel)]="producto.precioUnitario">
                <mat-error *ngIf="precioProductoControl.hasError('required')">
                    Precio del producto es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Stock</mat-label>
                <input matInput [formControl]="stockProductoControl" [(ngModel)]="producto.stock">
                <mat-error *ngIf="stockProductoControl.hasError('required')">
                    Stock del producto es <strong>obligatorio</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" >
                <mat-label>Fecha</mat-label>
                <input matInput disabled [(ngModel)]="producto.fechaProducto">
            </mat-form-field>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button color="warn" (click)="itemClose()">CANCELAR</button>
        <button mat-button color="primary"(click)="itemSave()" [disabled]="nombreProductoControl.invalid || descripcionProductoControl.invalid || precioProductoControl.invalid || stockProductoControl.invalid">GUARDAR</button>
    </mat-card-actions>
</mat-card>